<h1> My name is Dmitry, I have a GitHub account. </h1>


<p> <%= link_to image_tag("GitHub-Mark-120px-plus.png", alt: "Visit my GitHub"), "https://github.com/Photomotoz/" , :class => "github_button" %></p>
