<div class="intro_header" > Hi there! My name is Dmitry.</div>


<p> <%= link_to image_tag("GitHub-Mark-120px-plus.png", alt: "Visit my GitHub"), "https://github.com/Photomotoz/" , :class => "github_button" %></p>
