$laser-color: rgba(255,0,127,0);
$laser-color2: rgba(255,0,127,0.5);
$laser-color3: rgba(255,0,127,0.83);

@for $i from 0 through 30 {

	#vert-laser-line-#{$i} {

		width: 200%;
		border-bottom: 20px solid purple;
		transform: rotate(60 + $i*2deg);
		position: fixed;
		left: -2000 + $i * 100px;
		border-image: linear-gradient(to bottom, $laser-color 0%, $laser-color2 35%, $laser-color3 45%, rgba(255,255,255,1) 50%, $laser-color3 55%, $laser-color2 65%, $laser-color 100%) 0 0 100 0 repeat;
		z-index: -1;
	}
}

@for $i from 0 through 20 {

	#horiz-laser-line-#{$i} {

		width: 9999px;
		border-bottom: 20px solid;
		position: fixed;
		top: $i * 75px;
		border-image: linear-gradient(to bottom, $laser-color 0%, $laser-color2 35%,$laser-color3 45%, rgba(255,255,255,1) 50%, $laser-color3 55%, $laser-color2 65%, $laser-color 100%) 0 0 100 0 repeat;
		z-index: -1;
	}
}