// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	background-image: image-url("BackgroundBase.png");
	background-repeat: repeat;
}

.intro_header{
	margin: 50px auto;
	width: 450px;
	display: block;
	font-size: 36px;
}

.tab{
	background-color : black;
}

.github_button{
	margin: 0 auto;
	width: 120px;
	display: block;
    cursor: pointer;
}
