// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	background-image: url('Grand Canyon.jpg');
	background-size : cover;
	background-repeat: no-repeat;

}

h1{
	margin: 0 auto;
	width: 250px;
	display: block;
}

.tab{
	background-color : black;

}

.github_button{
	margin: 0 auto;
	width: 120px;
	display: block;
    cursor: pointer;

}
